@tailwind base;
@tailwind components;
@tailwind utilities;




::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #707eae5a; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #2B3674; 
  }

  .bg-image{
    background-image: url('./assests/bg.jpg');
    z-index: 10;
    background-size:100%;
  }